<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software craftsman at Edge Laboratories</h1>
            <span><address>Lausanne, CH</address><time>2015 to Present</time></span>
        </header>
        <p>EdgeLab is a fintech company providing risk and portfolio intelligence web platform for investments and insurance.</p>
    </article>
    <article>
        <header>
            <h1>Consultant Java/JEE at Xebia France</h1>
            <span><address>Paris, FR</address><time>2010 to 2015</time></span>
        </header>
        <p>
          Xebia IT Architects est un cabinet de conseil en architecture dédié aux environnements Java. Les consultants de Xebia sont
          des spécialistes de haut niveau dans les méthodes et technologies liées à la plate-forme Java EE. Xebia intervient au niveau
          européen et s'appuie sur des consultants de 8 nationalités différentes. Nos consultants prennent en charge des missions
          d'Assistance Maîtrise d'Oeuvre, Assistance Technique, Direction de Projet, Accompagnement sur tous les aspects liés à la
          mise en oeuvre de projets J2EE.
        </p>
    </article>
    <article>
        <header>
            <h1>Backend software developer at Libon</h1>
            <span><address>Chatillon, FR</address><time>2012 to 2015</time></span>
        </header>
        <p>
          Libon est une application mobile et web offrant des appels gratuits en VOIP, du chat facile (OpenChat), de l'échange de messages et une messagerie vocale surdouée.
          <br/>
          Développement d'APIs consommées par différents clients web et mobiles : android, iOS, flex et html5. Au quotidien, je pratique avec attention la migration de fonctionnalités legacy non testables et donc non maintenable ainsi que l'ajout de nouvelles fonctionnalités. Refactoring, Test et intégration continue imprègnent nos développements et revues de codes.
          <br/>
          Nous pratiquons assidûment scrum sans oublier que c'est est un ensemble de bonnes pratiques et non un process. Ca nous permet de nous améliorer de manière continue.
          <br/>
          C'est un projet à taille humaine où j'ai acquis une vision globale grâce à la proximité et l'intimité créées avec les équipes mobiles et opérationnelles.
        </p>
        <p>
          Mots-clé : Hibernate, Spring, JAX-RS, Oracle, Cassandra, Scrum, TDD, JUnit, Mockito, Intégration continue, refactoring.
        </p>
    </article>
    <article>
        <header>
            <h1>Software developer</h1>
            <span><address>Sevres, FR</address><time>2011 to 2012</time></span>
        </header>
        <p>
          Développement d'un composant proposant de la VOD (vidéo à la demande). Adaptation de l'application au public nord américain.
          Je suis intervenu pour apporter une expertise sur Grails et les tests de manière générale.
        </p>
        <p>
          Mots-clé : Grails, MySQL, tests, intégration continue, Scrum, XP.
        </p>
    </article>
    <article>
        <header>
            <h1>Software developer</h1>
            <span><address>Levallois Perret, FR</address><time>2010 to 2011</time></span>
        </header>
        <p>
          Développement d’un moteur de facturation permettant d’éditer des factures suivant des règles de facturations spécifiques à chaque client.
          Développement de batchs de traitements de données, de composants génériques de génération de factures en fonction de règles de facturation, de web services SOAP consommés par une application Flex.
        </p>
        <p>
          Mots-clé : Spring, JAX-WS, Hibernate, Oracle, Tomcat, Flex, Scrum, XP, JUnit, Mockito, Integration continue, Git, JBeHave, maven
        </p>
    </article>
    <article>
        <header>
            <h1>Software developer</h1>
            <span><address>Paris, FR</address><time>2009 to 2010</time></span>
        </header>
        <p>
          Participation à la réalisation de plusieurs projets orientés vers la santé et le social en java/j2ee dont certains ont été gérés avec Scrum :
          <ul>
            <li>- Développements de batchs de traitement de fichiers (java, toplink, oracle),</li>
            <li>- Développement d'un web service de gestion d'utilisateurs stockés dans un LDAP (java, CXF, spring-ldap),</li>
            <li>- Développement de deux applications web avec struts 2 permettant d'interroger un web service.</li>
          </ul>
        </p>
    </article>
</section>
