<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software architect</h1>
            <span><address>Lausanne, CH</address><time>Feb. 2024 to now</time></span>
        </header>
        <p>SamanTree Medical proposes a breakthrough innovation for checking complete tumor removal during surgery by using a homemade Histolog Scanner device. The appliance eases the decision-making for surgeons, reduces the duration of operation, and reduces the re-operation rate.</p>
        <p>
            I'm involved in the entire process of the product development, from ideas to clients' feedback in the hospital:
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-angle-right"></i>Analyzing new ideas with subject matter experts to transform them into features </li> 
                <li><i class="fa-li fa fa-angle-right"></i>Developping features like letting the pathologists assist remotely the surgeons during surgery</li> 
                <li><i class="fa-li fa fa-angle-right"></i>Gathering feedback and supporting the pathologists and surgeons in the operation room</li>
            </ul>
        </p>
        <p>
          Keywords: Java, Spring, Hibernate, SQL, JavaFX.
        </p>
    </article>
    <article>
        <header>
            <h1>Software craftsman, architect, and team lead at Edge Laboratories and Evooq</h1>
            <span><address>Lausanne, CH</address><time>2015 to Jan. 2024</time></span>
        </header>
        <p>Evooq is a fintech company providing risk and portfolio intelligence web platform for investments and insurance.</p>
        <p>
            Developed financial products to ease Wealth management by:
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-angle-right"></i>Develop a deep understanding of consumers through in-person observation and interaction, and providing expertise in software architecture</li> 
                <li><i class="fa-li fa fa-angle-right"></i>Collaborate cross-functionally with colleagues from different knowledge and external vendors to creatively solve problems in innovative ways that drive business</li> 
                <li><i class="fa-li fa fa-angle-right"></i>Adapt to changing priorities while inspiring team members</li> 
            </ul>
            During those years at EdgeLab/Evooq, I built from the idea to the implementation on-premise an advisory application that complies with LSFIN and MIFI II regulations. I assumed multiple roles:
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-angle-right"></i>Development of the application</li>  
                <li><i class="fa-li fa fa-angle-right"></i>Definition of the target architecture</li> 
                <li><i class="fa-li fa fa-angle-right"></i>Definition of the development standards and practices</li>
                <li><i class="fa-li fa fa-angle-right"></i>Deployment on-premise into multiple bank's infrastructure</li> 
                <li><i class="fa-li fa fa-angle-right"></i>Definition of the integration standards like common interfaces and protocols</li> 
                <li><i class="fa-li fa fa-angle-right"></i>Scrum master and team lead</li> 
                <li><i class="fa-li fa fa-angle-right"></i>Change management: led the implementation of a collaboration framework to scale from 3 to 50 team members</li> 
            </ul>
        </p>
        <p>
          Keywords: Java, Spring, Hibernate, SQL, AngularJS, Docker, Scrum, TDD, JUnit, Mockito, Continuous integration, refactoring.
        </p>
    </article>
    <article>
        <header>
            <h1>Consultant Java/JEE at Xebia France</h1>
            <span><address>Paris, FR</address><time>2010 to 2015</time></span>
        </header>
        <p>
          Xebia IT Architects is a consulting company focusing on the Java ecosystem. Being a consultant at Xebia is being an expert in technologies and practices.
        </p>
    </article>
    <article>
        <header>
            <h1>Backend software developer at Libon</h1>
            <span><address>Chatillon, FR</address><time>2012 to 2015</time></span>
        </header>
        <p>
            Libon is a mobile application that provides free VOIP calls and chatting. I was part of the backend team which provides Rest API for different clients (iOS, Android, and web).
            My daily job was focusing on refactoring a legacy system to a new one, from one application architecture to a modern one. We were a scrum following a few agile practices from Scrum and 
            Extreme programming.
        </p>
        <p>
          Keywords: Hibernate, Spring, JAX-RS, Oracle, Cassandra, Scrum, TDD, JUnit, Mockito, Continuous integration, refactoring.
        </p>
    </article>
    <article>
        <header>
            <h1>Software developer</h1>
            <span><address>Sevres, FR</address><time>2011 to 2012</time></span>
        </header>
        <p>
          Coachclub is a startup providing video on video to people who practice sports at home.
        </p>
        <p>
          Keywords: Grails, MySQL, tests, Continuous Integration, Scrum, XP.
        </p>
    </article>
    <article>
        <header>
            <h1>Software developer</h1>
            <span><address>Levallois Perret, FR</address><time>2010 to 2011</time></span>
        </header>
        <p>
            I was part of a team developing a billing engine that is highly customizable, especially one that was able to ingest new billing rules without requiring new developments.
        </p>
        <p>
          Keywords: Spring, JAX-WS, Hibernate, Oracle, Tomcat, Flex, Scrum, XP, JUnit, Mockito, Continuous integration, Git, JBeHave, maven
        </p>
    </article>
    <article>
        <header>
            <h1>Software developer</h1>
            <span><address>Paris, FR</address><time>2009 to 2010</time></span>
        </header>
        <p>
          I developed a few applications related to the health and insurance domains in Java:
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-angle-right"></i>a batch which ingests files and stores the data in a SQL database</li>
            <li><i class="fa-li fa fa-angle-right"></i>a web service to manage users stored in an LDAP (java, CXF, spring-ldap),</li>
            <li><i class="fa-li fa fa-angle-right"></i>two web applications gathering data from different services</li>
          </ul>
        </p>
    </article>
</section>
