<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
          <h1>Try new Java 9 REPL before the release</h1>
          <span>
            <time>26/06/2015</time>
            &nbsp;
            <a href="http://blog.xebia.fr/2015/06/26/tester-le-repl-du-futur-jdk9-avant-sa-sortie-2/">link</a>
          </span>
        </header>
        <p>
            This blog post aims to explain how to install the Java REPL before it is released and its features.
        </p>
    </article>
    <article>
        <header>
            <h1>Screencast Double loop TDD</h1>
            <span>
              <time>18/05/2015</time>
              &nbsp;
              <a href="http://blog.xebia.fr/2015/05/18/double-loop-tdd/">link</a>
            </span>
        </header>
        <p>
            This screencast demonstrate how to develop a feature using the double loop TDD approach.
        </p>
    </article>
    <article>
        <header>
            <h1>Build a REST API using Jersey and Spring without web.xml, application-context.xml, getters or setters</h1>
            <span>
              <time>22/04/2014</time>
              &nbsp;
              <a href="http://blog.xebia.fr/2014/04/22/construire-une-api-rest-avec-jersey-et-spring-sans-web-xml-ni-applicationcontext-xml-ni-getterssetters/">link</a>
            </span>
        </header>
        <p>
            This technical blog post demonstrates how to develop a web application using Jersey and Spring without xml configuration or getters and setters.
        </p>
    </article>
    <article>
        <header>
            <h1>Les offres de Cloud Computing</h1><span>
              <time>January 2014</time>
              &nbsp;
              <a href="http://www.programmez.com/node/17336">link</a>
            </span>
        </header>
        <p>
          The article describes the cloud from a developper's point of view. First, I presents the main providers (Amazon, Cloudbees, Heroku, Google, etc) and then the best practices to use when deploying applications into the cloud.
        </p>
    </article>
</section>
